<div class="todo <% if todo.checked %>done<% end %>" id="<%= todo.id %>">
  <p>
    <% if current_user -%>
    <input type="checkbox" name="done_<%= todo.id %>" value="" <%= todo.checked %> id="done_<%= todo.id %>"> 
    <% end -%>
    <label for="done_<%= todo.id %>"><strong><%=h todo.title%></strong></label> &mdash; 
    <% if current_user -%>
      <%= link_to "Edit", edit_todo_path(todo) %>
      <%= link_to "Delete", todo, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
    <% end -%>
  </p>
  <p><%=h todo.description %></p>
</div>
