<% title "Todo" %>

<p>
  <strong>Title:</strong>
  <%=h @todo.title %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @todo.description %>
</p>
<p>
  <strong>Done:</strong>
  <%=h @todo.done %>
</p>

<p>
  <%= link_to "Edit", edit_todo_path(@todo) %> |
  <%= link_to "Destroy", @todo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", todos_path %>
</p>
